<div class="drink drink__coffee">
		<h2>Coffee</h2>
		<div class="drink-description">
			"{{coffee.coffeeDescription}}"
		</div>

		<div class="cup-holder">
			<div class="the-cup">

					<div ng-class="{'shake shake-vertical' : coffeeShake}" class="shaker" ng-mouseover="coffeeShake = true" ng-mouseleave="coffeeShake = false">
						<div class="drink-content drink-content__milk milk-{{coffee.milkAmount}}" ng-show="coffee.milkAmount > 0">
								<span>Milk x {{coffee.milkAmount}}</span>
						</div>
						<div class="drink-content drink-content__coffee strength-{{coffee.strength}}">
								<span>Coffee x {{coffee.strength}}</span>
							<ul class="drink-content drink-content__sugar" ng-show="coffee.sugarAmount.length">
									<li class="sugar-cube" ng-repeat="i in sugarPrefAmount track by $index"></li>
							</ul>
						</div>
					</div>
			</div>

		</div>
		<div ng-show="coffee.poshPreference.length">
			<p class="text-center">Other tipples they like to sipple:</p>
			<ul class="drink-posh-pref">
				<li ng-repeat="pref in coffee.poshPreference">{{pref}}</li>
			</ul>
		</div>

</div>

