<div class="drink drink__tea">
	<h2>Tea</h2>
		<div class="drink-description">
			{{tea.teaDescription}}
		</div>

		<div class="cup-holder">
			<div class="the-cup">
					<div ng-class="{'shake shake-little' : teaShake}" ng-mouseover="teaShake = true" ng-mouseleave="teaShake = false">
						<div class="drink-content drink-content__milk milk-{{tea.milkAmount}}" ng-show="tea.milkAmount > 0">
							<span>Milk x {{tea.milkAmount}}</span>
						</div>
						<div class="drink-content drink-content__tea strength-{{tea.strength}}">
							<ul class="drink-content drink-content__sugar" ng-show="tea.sugarAmount.length">
									<li class="sugar-cube" ng-repeat="i in sugarPrefAmount track by $index"></li>
							</ul>
						</div>
					</div>
			</div>
		</div>
		<div ng-show="tea.herbalPreference.length">
			<p class="text-center">Other teas that put them at ease:</p>
			<ul class="drink-posh-pref">
				<li ng-repeat="pref in tea.herbalPreference">{{pref}}</li>
			</ul>
		</div>

</div>
