.staff-list  {
	text-align: center;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	li {
		display: block;
		width: 15%;
		margin-bottom: 2%;

		a {
			box-sizing: border-box;
			text-decoration: none;
			display: block;
			width: 100%;
			padding: 15% 0;
			color: white;
			margin-right: 10px;
			border: 1px solid white;
			border-radius: 1px;
			cursor: pointer;
			text-align: center;
			transition: all ease-in-out 0.5s;
			-webkit-transition: all ease-in-out 0.5s;
			-moz-transition: all ease-in-out 0.5s;

			&:hover {
				background: $bg2;
				color: white;
				border-color: $bg2;
			}
		}

		> small {
			text-transform: capitalize;
		}
	}
}

input[type=text].filter-input {
		padding: 18px 10px;
    border-radius: 0px;
    margin-right: -5px;

		&:focus {
			border-color: white;
		}
}

.filter-reset {
    padding: 10px 15px;
    background-color: white;
    color: #21B6A8;
    border: none;
    border-radius: 0;
    line-height: 21px;
}

@media (max-width: 767px) {
	.staff-list {

		li {
			width: 24%;
			margin-right: 1%;

			&:nth-child(4n+4) {
				margin-right: 0;
			}
		}

	}
}

@media (max-width: 420px) {
	.staff-list {

		li {
			width: 48%;
			margin-bottom: 3%;
			margin-right: 0;

			&:nth-child(odd) {
				margin-right: 3%;
			}

		}

	}
}

