.drink-content__coffee {
    width: 95%;
    min-height: 160px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background: #522000;
    margin: 0 auto 10px;
    align-self: flex-end;
 		text-align: center;
 		font-size: 12px;
		line-height: 25px;
		font-weight: 100;
		color: white;
		display: table;

		&.strength-2 {height: 180px;}
		&.strength-3 {height: 200px;}
		&.strength-4 {height: 220px;}
		&.strength-5 {height: 240px;}

		span {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

}



