$cupHeight: 320px;

.drinks {

	.shake {
		display: block;
	}

	.shaker {
		width: 100%;
	}

	* {
		box-sizing: border-box;
	}

	.title {
		width: 100%;
		display: block;
	}
}

	.single-drink {

		.drink {
			float: none;
			margin: 0 auto;
		}

	}

.drink {
	width: 50%;
	color: white;
	padding: 20px;
	float: left;

	h2 {
		font-family: 'Lobster Two', cursive;
		text-align: center;
	}

	li {
		margin-left: 20px;
	}

}

.drink-description {
	display: block;
	text-align: center;
	font-style: italic;
}

.cup-holder {
	width: 100%;
	max-width: 250px;
	margin: 40px auto;
	display: table;
}

.the-cup {
	width: 100%;
	height: $cupHeight;
	border: 10px solid white;
	border-top: 0;
  display:table-cell;
  vertical-align:bottom;
  position: relative;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%;

	&:after {
	    content: '';
	    width: 60px;
	    height: 150px;
	    border: 10px solid white;
	    border-left: 0;
	    right: -70px;
	    top: 40px;
	    position: absolute;
	    border-top-right-radius: 50%;
	    border-bottom-right-radius: 50%;
	}
}

.drink-content {
	vertical-align: bottom;
}

.drink-content__milk {
    width: 95%;
    background: #FEFCFF;
    margin: 0 auto;
    text-align: center;
    color: #522000;
		font-size: 12px;
		font-weight: 100;
		display: table;

    &.milk-1 {height: 20px;}
    &.milk-2 {height: 30px;}
		&.milk-3 {height: 40px;}
		&.milk-4 {height: 50px;}
		&.milk-5 {height: 60px;}

		span {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

}

.drink-content__sugar{
	list-style: none;
	position: absolute;
	bottom: -25px;
	left: 0;

	.sugar-cube {
		width: 25px;
		height: 25px;
		margin-left: 0;
		background-color: #F0F0F0;
		position: absolute;
		bottom: 10px;
		border-radius: 5px;

			&:first-child {
				left: 80px;
			}

			&:nth-child(2) {
				left: 108px;
				transform: rotate(45deg);
				bottom: 14px;
			}

			&:nth-child(3) {
				left: 90px;
				bottom: 35px;
			}

			&:nth-child(4) {
				left: 136px;
				bottom: 10px;
			}

			&:nth-child(5) {
				left: 127px;
				bottom: 35px;
				transform: rotate(0);
			}
	}
}

.drink-posh-pref {
	color: $bg;
	list-style: none;
	text-align: center;

	li {
		background: white;
		display: inline-block;
		padding: 5px 10px;
		border-radius: 20px;
		margin-left: 0;
		margin-right: 10px;
		font-size: 12px;
	}
}

@media (max-width: 768px) {
	.drink {
		width: 100%;
	}

	.the-cup:after {
		right: -40px;
		width: 20px;
		height: 90px;
	}

	.cup-holder {
		width: 100%;
	}
}
