.reset-button {
	cursor: pointer;
	padding: 5px 10px;
	background: white;
	display: inline-block;
	margin: 20px 0;
	text-decoration: none;
	color: $bg;
}

.delete-button {
	cursor: pointer;
	padding: 5px 10px;
	background: #B6212D;
	color: white;
	display: inline-block;
	margin: 20px 0;
}

.admin-button {
	background: white;
	text-decoration: none;
	color: $bg;
	position: absolute;
	top: 0;

	&:hover {
		color: white;
		background: black;
	}
}
