body {
	background-color: $bg;
	color: white;
	padding: 60px 0;
}

a {
	color: white;
	text-decoration: none;
	transition: all ease-in-out 0.25s;
	-moz-transition: all ease-in-out 0.25s;
	-webkit-transition: all ease-in-out 0.25s;
	-o-transition: all ease-in-out 0.25s;

	&:hover {
		// color: #7F171F;
		color: #7F5417;
		font-weight: 400;
	}
}

.ib {
	display: inline-block;
}

.back-button {
	display: inline-block;
	margin-left: 40px;
	position: relative;
	top: -5px;
}

.text-center {
	text-align: center;
}

.logo {
	font-family: 'Lobster Two', cursive;
	text-align: center;

	a {
		display: block;
		transition: all ease-in-out 0.5s;
		-webkit-transition: all ease-in-out 0.5s;
		-moz-transition: all ease-in-out 0.5s;
	}

	a:hover {
		color: white !important;
		transform: scale(1.125);
		-webkit-transform: scale(1.125);
		-moz-transform: scale(1.125);
	}

	span {
		font-family: sans-serif;
    font-size: 18px;
    position: relative;
    top: -8px;
    font-style: italic;
    display: block;
    margin: 10px 0;
	}
}

.header-link {
	text-decoration: none;
}

.updated-notifacation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 40px;
	width: 70%;
	text-align: center;

	button {
		border: 1px solid white;
		color: white;
	}
}
