.multi-checkbox {
	display: inline-block;
	padding: 0 20px 0 0;

	input {
		margin-left: 5px;
	}
}

label.small-bottom {
	margin-bottom: -5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
	background-color: transparent;
	border-color: white;
	color: white;
	padding: 20px 10px;
}

input[type="submit"] {
	border-color: white;
	color: white;
}

select {
	background: $bg;
}

button {
	color: white;
	border-color: white;
}

::-webkit-input-placeholder {color: white;}
:-moz-placeholder {color: white;}
::-moz-placeholder {color: white;}
:-ms-input-placeholder {color: white;}
