<div class="person">
	<a href="/projects/grinder" class="reset-button">
		<small>Back</small>
	</a>
	<h6>
			<strong>{{individual.name}}</strong> - <small>{{individual.position}}</small>
	</h6>
	<div ng-show="coffee.coffeeDrinker && tea.teaDrinker" class="drinks">
		<coffee-drink></coffee-drink>
		<tea-drink></tea-drink>
	</div>

	<div ng-show="!coffee.coffeeDrinker && tea.teaDrinker" class="drinks single-drink">
		<tea-drink></tea-drink>
	</div>

	<div ng-show="coffee.coffeeDrinker && !tea.teaDrinker" class="drinks single-drink">
		<coffee-drink></coffee-drink>
	</div>

	<div ng-show="!coffee.coffeeDrinker && !tea.teaDrinker" class="drinks">
		<div class="title">
			<p>
				{{individual.name}} likes nothing... though this is highly suspect.
			</p>
			<p><a href="/">Back</a></p>
		</div>
	</div>
</div>

<div class="updated-notifacation" ng-show="updated">
	<h4>{{individual.name}} the {{individual.position}} has been updated!</h4>
	<button ng-click="updated = false">Close</button>
</div>
