<div ng-hide="hiddenPeople">
	<input type="text" placeholder="Find someone" class="filter-input" ng-model="searchText" />
	<button ng-click="people.resetHider()" class="filter-reset">X</button>
	<ul class="staff-list">
		<li ng-repeat="person in persons | filter:searchText | orderBy : 'name'">
			<a href="#/user/{{person.name}}">
			{{person.name}} <br> <small>{{person.position}}</small>
			</a>
		</li>
	</ul>
</div>

<div class="updated-notifacation" ng-show="newUser">
	<h4>{{newUser}} has been created!  Well done for you!</h4>
	<button ng-click="newUser = false">Close</button>
</div>

<div class="updated-notifacation" ng-show="deleted">
	<h4>{{deleteName}} has been deleted.</h4>
	<button ng-click="deleted = false">Close</button>
</div>

