.admin-box {
	a {
		display: block;
		text-align: center;
		padding: 40px 0;
		border: 1px solid white;
		border-radius: 10px;
	}
}

.user-listings {

	table {
		width: 100%;

		* {
			border-color: white;
			text-align: center;
			font-weight: 100;
			font-size: 14px;
		}

		thead td {
			font-weight: bold !important;
		}

		th,  td {
			padding: 10px 1%;
		}

	}

}

.user-listings {

	small {
		font-size: 13px;
		margin-left: 10px;
	}

}
